<h2>DuckDuckGo Graph Search</h2>

<div class="input-group mb-3">
  <input
    type="text"
    class="form-control"
    placeholder="Search term"
    aria-label="Search term"
    aria-describedby="basic-addon2"
  />
  <div class="input-group-append">
    <button (click)="searchResults()" type="button" class="btn btn-primary">
      Search
    </button>
  </div>
</div>

<div *ngIf="results.length > 0">
  <h2>Topics</h2>
  <ul>
    <ng-container *ngFor="let result of results">
      <li *ngIf="result.Text">
        <a href="result.FirstURL">{{result.Text}}</a>
      </li>
    </ng-container>
  </ul>

  <h2>Related Topics</h2>

  <ul>
    <ng-container *ngFor="let result of results">
      <h3 *ngIf="result.Name">{{result.Name}}</h3>
      <ul>
        <ng-container *ngFor="let topic of result.Topics">
          <li *ngIf="topic.Text">
            <a href="topic.FirstURL">{{topic.Text}}</a>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </ul>
</div>
